.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #8a2b06;
    padding: 1rem 0;
    margin: 1rem 0;
}
.cart-item h2{
    margin: 0 0 0.5rem 0;
    color: #363636 ;
}
.summary{
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    font-weight: bold;
    color: #8a2b06;
}
@media(min-width : 768px){
    .actions{
        flex-direction: row;

    }

}
.cart-item button{
    font: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    border: 1px solid #8a2b06;
    background-color: transparent;
    margin-right:  1rem;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 6px;
}
.cart-item button:hover{
    color: white;
    background-color: #8a2b06;
}